.injected {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 393px;
  width: 350px;
  text-align: center;
}

#submit {
  background-color: #6fcf97;
  color: white;
  border: none;
  border-radius: 4px;
}